@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(http://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

#appInstructions {
	color : white;
}

#wqFooter {
	font-family: 'Quicksand', sans-serif;
	display : none;
	bottom : 0;
	left : 0;
	position : fixed;
	background: #EA9E94;
/* 234 158 148 */
	width : 100%;
	height : 40px;
	z-index : 100 !important;
/*	position : absolute;
	width : 100%;
	bottom : 0;
	left : 0;
	z-index : 100 !important; */
}

#footImg {
	position : fixed;
	bottom : 0;
	right : 0;
	width : 105px;
	padding-right : 20px;
	padding-bottom : 5px;
} 

#wqFooterTxt {
	font-family: 'Quicksand', sans-serif;
	font-size : 15px;
	padding-left : 10px;
	padding-top : 10px;
	padding-bottom : 5px;
}

#tagMain {
	font-family: 'Quicksand', sans-serif;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	/*background: #dca838; */
	background: #d14826;
/*	background: rgba(220, 158, 56, .95);  */
	background: rgba(209, 72, 38, .95);  
	
/*	background: #bbeeef; */
	width: 100%;
	height: 100%;
	padding: 25px;
	z-index: 99;
}

#tagMain .searchHeaders {
	font-family: 'Quicksand', sans-serif;
	margin-bottom: 25px;
}

.errh2 {
	font-family: 'Quicksand', sans-serif;
	color: red;
}
	
#tagMain .searchHeader {
	font-family: 'Quicksand', sans-serif;
	color: white;
	display: inline;
	float: left;
	width: 380px;
	padding: 0 10px;
	background: white;
	color: black;
	font-weight: 800;
	font-size: 3em;
	text-align: left;
	margin: 0 0 5px 0;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

#tagMain .searchInstructions {
	font-family: 'Quicksand', sans-serif;
	display: inline;
	float: left;
	width: 241px;
	clear: both;
	padding: 2px 8px;
	background: white;
	color: black;
	text-align: left;
	font-weight: 600;
	font-size: 1em;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

#tagMain .searchDismiss {
	font-family: 'Quicksand', sans-serif;
	background: url('http://imjakechapman.s3.amazonaws.com/imjakechapman/close.png') transparent no-repeat center center;
	float: right;
	color: white;
	display: block;
	height: 44px;
	width: 44px;
	text-indent: -99999em;
}

#tagMain .tagform {
	font-family: 'Quicksand', sans-serif;
	margin-top: 45px;
}

#tagMain input[type=text] {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 2.5em;
	font-weight: 800;
	text-align: center;
	display: block;
	width: 100%;
	margin: 15px 0 0 0;
	border: none;
	outline: none;
	background: none;
}

#wqFooterTxt {
	font-family: 'Quicksand', sans-serif;
	color: white;
	font-size: 1em;
	font-weight: 800;
	text-align: left;
	display: block;
	width: 100%;
	padding-top : 5px
	padding-left : 5px;
	border: none;
	border-bottom: 1px solid #dca838;
	outline: none;
	background: none;
}

#tagMain input[type=submit] {
	opacity: 0;
}


/* Smartphones (portrait) ----------- */
.manimate {
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	-ms-animation-duration: .5s;
	-o-animation-duration: .5s;
	animation-duration: .5s;
	
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* fade in */





/* search fade in */

.tagFadeIn {
	-webkit-animation-name: tagFadeIn;
	-moz-animation-name: tagFadeIn;
	-ms-animation-name: tagFadeIn;
	-o-animation-name: tagFadeIn;
	animation-name: tagFadeIn;
}

@-webkit-keyframes tagFadeIn {
	0% {
		display: none;
		opacity: 0;
		height: 0;
	}
	10% {
		display: block;
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
@-moz-keyframes tagFadeIn {
	0% {
		display: none;
		opacity: 0;
		height: 0;
	}
	10% {
		display: block;
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
@-ms-keyframes tagFadeIn {
	0% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		height: 0;
	}
	10% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		height: 0;
	}
	100% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		height: 100%;
	}
}
@-o-keyframes tagFadeIn {
	0% {
		display: none;
		opacity: 0;
		height: 0;
	}
	10% {
		display: block;
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}
@keyframes tagFadeIn {
	0% {
		display: none;
		opacity: 0;
		height: 0;
	}
	10% {
		display: block;
		opacity: 0;
		height: 0;
	}
	100% {
		opacity: 1;
		height: 100%;
	}
}

.tagFadeOut {
	-webkit-animation-name: tagFadeOut;
	-moz-animation-name: tagFadeOut;
	-ms-animation-name: tagFadeOut;
	-o-animation-name: tagFadeOut;
	animation-name: tagFadeOut;
}

@-webkit-keyframes tagFadeOut {
	0% {
		opacity: 1;
		height: 100%;
	}
	10% {
		opacity: 1;
		height: 100%;
		top: 0;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}
@-moz-keyframes tagFadeOut {
	0% {
		opacity: 1;
		height: 100%;
	}
	10% {
		opacity: 1;
		height: 100%;
		top: 0;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}
@-ms-keyframes tagFadeOut {
	0% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		height: 100%;
	}
	10% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		height: 100%;
		top: 0;
	}
	100% {
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		height: 0%;
	}
}
@-o-keyframes tagFadeOut {
	0% {
		opacity: 1;
		height: 100%;
	}
	10% {
		opacity: 1;
		height: 100%;
		top: 0;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}

@keyframes tagFadeOut {
	0% {
		opacity: 1;
		height: 100%;
	}
	10% {
		opacity: 1;
		height: 100%;
		top: 0;
	}
	100% {
		opacity: 0;
		height: 0%;
	}
}
