/* Sticky footer styles
-------------------------------------------------- */

/*html, body {
    height: 100%;
}


   
/* Set the fixed height of the footer here */

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important; 
   font-weight: 300;	
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background:#999;
}

#coverImg {
	text-align : center;
}

#content {
    overflow-x: hidden;
    overflow-y: scroll;
}

#chapContent {	
	color: #333333;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif !important;
    -webkit-user-select: text; 
}

.imgContainer {
	text-align : center;
}

#specialUl {
    width : 100%;
}
        
#prevBtn {
    padding-left : 10px;
    float : left;
}

#nextBtn {
    padding-right : 10px;
    float: right;
}
      
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    img {
        max-width : 100%;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    height:100%;
    margin: 0 auto -50px;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

*.unselectable * {
    -moz-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -o-user-select: text;
    user-select: text;
}*/
