@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
}
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
}
.calibre1 {
    display: block
}
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
}
.calibre11 {
    font-size: 0.75em
}
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
}
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
}
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
}
.calibre15 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
}
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 0
}
.calibre17 {
    height: 160px;
    vertical-align: baseline;
    width: 165px
}
.calibre18 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 1em
}
.calibre19 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
}
.calibre2 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
}
.calibre20 {
    font-size: 0.83333em
}
.calibre21 {
    font-size: 1.2em
}
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
}
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
}
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 1em
}
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
}
.calibre26 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
}
.calibre27 {
    font-size: 1.83333em;
    line-height: 1.2
}
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -14pt
}
.calibre29 {
    display: block;
    margin-bottom: 0;
    margin-left: 14pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -14pt
}
.calibre3 {
    font-size: 1.29167em;
    line-height: 1.2
}
.calibre4 {
	text-align: center;
    color: rgb(0, 0, 0)
}
.calibre5 {
    display: block;
    margin-bottom: 0;
    margin-left: 12pt;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: -12pt
}
.calibre6 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
}
.calibre7 {
    color: blue
}
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 12pt;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: -12pt
}
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
}
.italic {
    font-style: italic
}
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0
}
.underline {
    text-decoration: underline
}
